@import '~normalize.css/normalize.css';
$border: 1px dashed #ddd;

* {
  box-sizing: border-box;
  font-family: 'Hiragino Sans GB', '华文细黑', STHeiti, '微软雅黑',
    'Microsoft YaHei', SimHei, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
  margin: 0 auto;
  background-color: #fff;
  max-width: 414px;
}
#app-title {
  text-align: center;
  span {
    display: inline-block;
    transform: rotate(90deg);
  }
}
#backToTop {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #05a557;
  color: #fff;
  padding: 13px;
  font-size: 12px;
  text-align: center;
}
.gift {
  overflow: hidden;
  margin-top: 1em;
  h3 {
    text-align: center;
  }
  img {
    max-width: 100%;
  }
  .img-wrap {
    height: 0;
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  h3 + .img-wrap {
    border-top: $border;
  }
  .img-wrap + .img-wrap {
    margin-top: 2em;
    position: relative;
    &::before {
      content:'';
      position: absolute;
      width: 100%;
      display:block;
      top: -1em;
      border-top: $border;
    }
  }
  & + & {
    border-top: 1px solid #999;
  }
}
.ph-bottom {
  height: 8em;
}
.c-center {
  text-align: center;
}
